.app {
  padding: 30px 2.5% 50px;
  font-family: 'Mulish', sans-serif;
  color: #1d3452;
}

h1 {
  margin-bottom: 26px;
  font-size: 3.125rem; // 50px
  font-family: 'Mulish', sans-serif;
  font-weight: 900;

  @media only screen and (min-width: 768px) {
    font-size: 3.438rem; // 55px
  }
}

.logo {
  max-width: 300px;
}
