.form {
  $this: &;
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;

  &__item {
    margin-bottom: 1rem;

    &--radio {
      margin: 0 0 1rem 0;
      padding: 0;
      border: none;

      #{$this}__label { display: inline-block; }
    }
  }

  &__label {
    display: block;
  }

  &__button {
    padding: 10px 25px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    background: #1d3452;
    border: none;

    &:hover, &:focus {
      background: #df6760;
    }
  }
}